<div style="text-align: center;">
  <h1>About</h1>
  <div>
    <p>This <a href="https://github.com/albearli/UIUC-Major-Demographics" target="_blank" rel="noopner noreferrer">open-source project</a>  was made by two UIUC students who were heavily inspired by visualizations created by faculty and students.</p>
    <p>All data is public and comes from the <a href="http://dmi.illinois.edu/" target="_blank" rel="noopner noreferrer">Division of Management Information</a>.</p>
    <p>Huge thanks to Professor Wade and Devin Oliver for their inspiration and help.</p>
  </div>
</div>

<div class="cards">
  <div *ngFor="let person of staff" class="people">
      <app-person [name]="person.name" [picture]="person.picture" [github]="person.github" [linkedin]="person.linkedin" [website]="person.website" class="people"></app-person>
  </div>
</div>