<!-- <div style="text-align: center;">
  <h2>About</h2>
  <div>
    <p>This <a href="https://github.com/albearli/UIUC-Major-Demographics" target="_blank" rel="noopner noreferrer">open-source project</a>  was made by two UIUC students who were heavily inspired by visualizations created by faculty and students.</p>
    <p>All data is public and comes from the <a href="http://dmi.illinois.edu/" target="_blank" rel="noopner noreferrer">Division of Management Information</a>.</p>
    <p>Huge thanks to Professor Wade and Devin Oliver for their inspiration and help.</p>
  </div>
</div>

<div class="cards">
  <div *ngFor="let person of staff" class="people">
      <app-person [name]="person.name" [picture]="person.picture" [github]="person.github" [linkedin]="person.linkedin" [website]="person.website" class="people"></app-person>
  </div>
</div> -->

<div class="container" style="margin-top: 1rem;">
  <div class="row">
    <div class="col-12 text-center">
      <h2>About</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p>This <a href="https://github.com/albearli/UIUC-Major-Demographics" target="_blank" rel="noopner noreferrer">open-source project</a>  was made by two UIUC students who were heavily inspired by visualizations created by faculty and students.<br>
      All data is public and comes from the <a href="http://dmi.illinois.edu/" target="_blank" rel="noopner noreferrer">Division of Management Information</a>.<br>
      Huge thanks to Professor Wade and Devin Oliver for their inspiration and help.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 justify-content-between">
      <div class="cards">
        <div *ngFor="let person of staff" class="people">
            <app-person [name]="person.name" [picture]="person.picture" [github]="person.github" [linkedin]="person.linkedin" [website]="person.website" class="people"></app-person>
        </div>
      </div>
    </div>
  </div>
</div>