.cards {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
  justify-content: center;
}
  
.people {
  margin: 2% 2.5%
}

img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}