<div class="container" style="margin-top: 1rem;">
  <div class="row">
    <div class="col-12">
      <h2>About</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12" >
      <p style="font-family: Arial, Helvetica, sans-serif">This <a href="https://github.com/albearli/UIUC-Major-Demographics" target="_blank" rel="noopner noreferrer">open-source project</a>  was made by two UIUC
      students who were heavily inspired by visualizations created by faculty and students.
      All data is public and comes from the <a href="http://dmi.illinois.edu/" target="_blank" rel="noopner noreferrer">Division of Management Information</a>
      from a survey where students self-identify their race upon enrollment.
    </p>
    <p style="font-family: Arial, Helvetica, sans-serif">
      Huge thanks to Professor Wade and Devin Oliver for their inspiration and help.
    </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <img src="assets/albert.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-lg-9 col-md-6 col-sm-12">
      <h2>Albert Li</h2>
      <p>Computer Science '22, Minor in Statistics and Mathematics</p>
      <a href="https://lialbert.com" target="_blank" rel="noopner noreferrer"><p>Website</p></a>
      <a href="https://linkedin.com/in/albearli" target="_blank" rel="noopner noreferrer"><p>LinkedIn</p></a>
      <a href="https://github.com/albearli" target="_blank" rel="noopner noreferrer"><p>Github</p></a>
    </div>
  </div>

  <div class="row" style="margin-top: 3rem; margin-bottom: 3rem;">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <img src="assets/bryant.jpeg" alt="" class="img-fluid">
    </div>
    <div class="col-lg-9 col-md-6 col-sm-12">
      <h2>Bryant Zhou</h2>
      <p>Econometrics & Quantitative Economics '22</p>
      <a href="https://www.linkedin.com/in/tianyi-zhou-967991193/" target="_blank" rel="noopner noreferrer"><p>LinkedIn</p></a>
      <a href="https://github.com/tianyiz8" target="_blank" rel="noopner noreferrer"><p>Github</p></a>
    </div>
  </div>

</div>