<!-- <h1>College Code: {{ collegeCode }}</h1> -->
<!-- <button (click)="createPieChart(5318, true)"></button> -->
<div class="container">
  <!-- title of the page -->
  <section class="row justify-content-center">
    <div class="col-12 text-center">
      <br>
      <h2><strong style="color: #123870;">{{ collegeAbbreviation }}</strong> - {{ collegeDescription }}</h2>
    </div>
  </section>


  <!-- the tab to navigate between each education level -->
  <section class="row justify-content-center">
    <p></p>
    <div class="col-lg-8 col-md-12 col-sm-12">
      <ul class="nav nav-tabs">
        <li class="nav-item" *ngIf="showUndergrad">
          <a [class]="'nav-link' + (level === 'undergrad' ? ' active' : '')" [routerLink]="['/college', collegeAbbreviation, 'undergrad']">Undergraduate</a>
        </li>
        <li class="nav-item" *ngIf="showMasters">
          <a [class]="'nav-link' + (level === 'masters' ? ' active' : '')" [routerLink]="['/college', collegeAbbreviation, 'masters']">Masters</a>
        </li>
        <li class="nav-item" *ngIf="showDoctorate">
          <a [class]="'nav-link' + (level === 'doctorate' ? ' active' : '')" [routerLink]="['/college', collegeAbbreviation, 'doctorate']">Doctorate</a>
        </li>
        <li class="nav-item" *ngIf="showNondegree">
          <a [class]="'nav-link' + (level === 'nondegree' ? ' active' : '')" [routerLink]="['/college', collegeAbbreviation, 'nondegree']">Non-Degree</a>
        </li>
      </ul>
      <br>
    </div>
  </section>

  <!-- note section for MS and Non-degrees -->
  <section class="row justify-content-center">
    <div class="col-lg-8 col-md-12 col-sm-12">
      <p *ngIf="level === 'masters'" class="text-muted" style="font-size: 0.7rem;">* Note: Masters (e.g. MS, MCS, MEng) are combined in each major</p>
      <p *ngIf="level === 'nondegree'" class="text-muted" style="font-size: 0.7rem;">* Note: NonDegree students include undergraduate programs that transfer to a degree-seeking program (e.g. Engineering Undeclared -> CompE) and students taking undergraduate courses for credit at another institution (may include high school).</p>
    </div>
  </section>

  <!-- the svg to draw legend -->
  <section class="row justify-content-center">
    <div class="col-12">
      <div id="legend-container" class="svg-container"></div>
    </div>
  </section>

  <!-- the section where the main bar chart is drawn -->
  <section class="row justify-content-center" style="margin-top: -3%;">
    <div class="col-12" >
      <div id="container" class="svg-container"></div>
    </div>
  </section>

  <!-- instructions -->
  <section class="justify-content-center" *ngIf="!showPieChart">
    <p style="font-size: x-large; text-align: center;">
      <strong><span style="font-size: xx-large; color: #123870;">Click</span></strong> on the bar graphs
    </p>
  </section>

  <!-- pie chart section -->
  <app-piechart *ngIf="showPieChart" [pieData]="piechartData" [level]="level" [college]="collegeAbbreviation"></app-piechart>
  
  <!-- major history section -->
  <app-line-college *ngIf="showPieChart" [level]="level" [lineChoice]="collegeCode" [majorCode]="majorCode" [majorName]="majorName"></app-line-college>

</div>


