<h1>{{ collegeAbbreviation }} - {{ collegeDescription }}</h1>
<h1>College Code: {{ collegeCode }}</h1>
<!-- <button (click)="createPieChart(5318, true)"></button> -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <svg class="legend" style="width: 100%; height: 50px">

      </svg>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12">
      <svg class="canvas" style="width: 102%; height: 1000px">

      </svg>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-piechart *ngIf="showPieChart" [data]='majorData'></app-piechart>
    </div>
    <app-piechart *ngIf="showPieChart" [data]='majorData'></app-piechart>
  </div>
</div>

