<!-- <h1>College Code: {{ collegeCode }}</h1> -->
<!-- <button (click)="createPieChart(5318, true)"></button> -->
<div class="container">
  <!-- title of the page -->
  <section class="row justify-content-center">
    <div class="col-12 text-center">
      <h3>{{ collegeAbbreviation }} - {{ collegeDescription }}</h3>
    </div>
  </section>


  <!-- the tab to navigate between each education level -->
  <section class="row justify-content-center">
    <div class="col-lg-8 col-md-12 col-sm-12">
      <ul class="nav nav-tabs">
        <li class="nav-item" *ngIf="showUndergrad">
          <a [class]="'nav-link' + (level === 'undergrad' ? ' active' : '')" [routerLink]="['/college', collegeAbbreviation, 'undergrad']">Undergraduate</a>
        </li>
        <li class="nav-item" *ngIf="showMasters">
          <a [class]="'nav-link' + (level === 'masters' ? ' active' : '')" [routerLink]="['/college', collegeAbbreviation, 'masters']">Masters</a>
        </li>
        <li class="nav-item" *ngIf="showDoctorate">
          <a [class]="'nav-link' + (level === 'doctorate' ? ' active' : '')" [routerLink]="['/college', collegeAbbreviation, 'doctorate']">Doctorate</a>
        </li>
        <li class="nav-item" *ngIf="showNondegree">
          <a [class]="'nav-link' + (level === 'nondegree' ? ' active' : '')" [routerLink]="['/college', collegeAbbreviation, 'nondegree']">Non-Degree</a>
        </li>
      </ul>
      <br>
    </div>
  </section>


  <!-- note section for MS and Non-degrees -->
  <section class="row justify-content-center">
    <div class="col-lg-8 col-md-12 col-sm-12">
      <p *ngIf="level === 'masters'" class="text-muted" style="font-size: 0.7rem;">* Note: Masters (e.g. MS, MCS, MEng) are combined in each major</p>
      <p *ngIf="level === 'nondegree'" class="text-muted" style="font-size: 0.7rem;">* Note: NonDegree students include undergraduate programs that transfer to a degree-seeking program (e.g. Engineering Undeclared -> CompE) and students taking undergraduate courses for credit at another institution (may include high school).</p>
    </div>
  </section>


  <!-- the svg to draw legend -->
  <section class="row justify-content-center">
    <div class="col-12">
      <svg class="legend" style="width: 100%; height: 50px">

      </svg>
    </div>
  </section>


  <!-- the section where the main bar chart is drawn -->
  <section class="row justify-content-center">
    <div class="col-12">
      <svg class="canvas" style="width: 102%; height: 1000px" [ngStyle]="{'height': svgHeight}">

      </svg>
    </div>
  </section>


  <!-- pie chart section -->
  <section class="row">
    <div class="col-12">
      <app-piechart *ngIf="showPieChart" [data]='majorData'></app-piechart>
    </div>
    <app-piechart *ngIf="showPieChart" [data]='majorData'></app-piechart>
  </section>
</div>


