<div>
  <!-- tabs for line graphs for history -->
  <section class="row justify-content-center">
    <div class="col-lg-8 col-md-12 col-sm-12">
      <ul class="nav nav-tabs tabs-main">
        <li class="nav-item">
          <a
            [class]="'nav-link' + (lineChoice === 'KV' ? ' active' : '')"
            (click)="chooseLineGraph('KV', 'Liberal Arts and Sciences')"
            >LAS</a
          >
        </li>
        <li class="nav-item">
          <a
            [class]="'nav-link' + (lineChoice === 'KP' ? ' active' : '')"
            (click)="chooseLineGraph('KP', 'Grainger College of Engineering')"
            >ENGR</a
          >
        </li>
        <li class="nav-item">
          <a
            [class]="'nav-link' + (lineChoice === 'KM' ? ' active' : '')"
            (click)="chooseLineGraph('KM', 'Gies College of Business')"
            >BUS</a
          >
        </li>
        <li class="nav-item">
          <a
            [class]="'nav-link' + (lineChoice === 'KL' ? ' active' : '')"
            (click)="
              chooseLineGraph(
                'KL',
                'Agricultural, Consumer, and Environmental Sciences'
              )
            "
            >ACES</a
          >
        </li>
        <li class="nav-item" *ngIf="showUndergrad">
          <a
            [class]="'nav-link' + (lineChoice === 'KW' ? ' active' : '')"
            (click)="chooseLineGraph('KW', 'Division of General Studies')"
            >DGS</a
          >
        </li>
        <li class="nav-item">
          <a
            [class]="'nav-link' + (lineChoice === 'KY' ? ' active' : '')"
            (click)="chooseLineGraph('KY', 'Applied Health Sciences')"
            >AHS</a
          >
        </li>
        <li class="nav-item">
          <a
            [class]="'nav-link' + (lineChoice === 'KR' ? ' active' : '')"
            (click)="chooseLineGraph('KR', 'Fine and Applied Arts')"
            >FAA</a
          >
        </li>
        <li class="nav-item">
          <a
            [class]="'nav-link' + (lineChoice === 'KT' ? ' active' : '')"
            (click)="chooseLineGraph('KT', 'College of Media')"
            >MEDIA</a
          >
        </li>
        <li class="nav-item">
          <a
            [class]="'nav-link' + (lineChoice === 'KN' ? ' active' : '')"
            (click)="chooseLineGraph('KN', 'College of Education')"
            >EDUC</a
          >
        </li>
        <li class="nav-item">
          <a
            [class]="'nav-link' + (lineChoice === 'LL' ? ' active' : '')"
            (click)="chooseLineGraph('LL', 'School of Social Work')"
            >SOCW</a
          >
        </li>
        <li class="nav-item" *ngIf="!showUndergrad">
          <a
            [class]="'nav-link' + (lineChoice === 'LC' ? ' active' : '')"
            (click)="chooseLineGraph('LC', 'College of Veterinary Medicine')"
            >VM</a
          >
        </li>
        <li class="nav-item" *ngIf="!showUndergrad">
          <a
            [class]="'nav-link' + (lineChoice === 'LP' ? ' active' : '')"
            (click)="chooseLineGraph('LP', 'School of Information Sciences')"
            >IS</a
          >
        </li>
        <li class="nav-item" *ngIf="!showUndergrad">
          <a
            [class]="'nav-link' + (lineChoice === 'LT' ? ' active' : '')"
            (click)="
              chooseLineGraph('LT', 'Carle Illinois College of Medicine')
            "
            >MED</a
          >
        </li>
        <li class="nav-item" *ngIf="!showUndergrad">
          <a
            [class]="'nav-link' + (lineChoice === 'KU' ? ' active' : '')"
            (click)="chooseLineGraph('KU', 'College of Law')"
            >LAW</a
          >
        </li>
        <li class="nav-item" *ngIf="!showUndergrad">
          <a
            [class]="'nav-link' + (lineChoice === 'KS' ? ' active' : '')"
            (click)="chooseLineGraph('KS', 'Graduate College')"
            >GRAD</a
          >
        </li>
        <li class="nav-item" *ngIf="!showUndergrad">
          <a
            [class]="'nav-link' + (lineChoice === 'LG' ? ' active' : '')"
            (click)="chooseLineGraph('LG', 'Labor & Employer Relations')"
            >LER</a
          >
        </li>
        <li class="nav-item" *ngIf="!showUndergrad">
          <a
            [class]="'nav-link' + (lineChoice === 'LN' ? ' active' : '')"
            (click)="
              chooseLineGraph(
                'LN',
                'Center for Innovation in Teaching and Learning'
              )
            "
            >CITL</a
          >
        </li>
      </ul>
      <br />
    </div>
  </section>

  <!-- line graphs -->
  <section class="row justify-content-center">
    <h3 *ngIf="showUndergrad && !showLocation">
      <strong style="color: #123870">{{ collegeName }}</strong> Undergraduate
      Demographics Since 2004
    </h3>
    <h3 *ngIf="!showUndergrad && !showLocation">
      <strong style="color: #123870">{{ collegeName }}</strong>
      Graduate/Professional Demographics Since 2004
    </h3>
    <h3 *ngIf="showUndergrad && showLocation">
      <strong style="color: #123870">{{ collegeName }}</strong> Undergraduate
      Residency Over the Last 15 Years
    </h3>
    <h3 *ngIf="!showUndergrad && showLocation">
      <strong style="color: #123870">{{ collegeName }}</strong>
      Graduate/Professional Residency Since 2004
    </h3>

    <div class="col-12">
      <canvas
        baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins"
        [colors]="lineChartColors"
      >
        >
      </canvas>
    </div>
  </section>

  <section class="justify-content-center">
    <p style="font-size: x-large; text-align: center">
      <strong
        ><span style="font-size: xx-large; color: #123870">Click</span></strong
      >
      on the legends to remove from line graph
    </p>
    <p class="text-muted" style="font-size: 0.7rem" *ngIf="!showLocation">
      * Note: Data for Hawaiian/Pacific Islander and Multiracial is not reported
      before 2010.
    </p>
  </section>
</div>
