<h1 style="text-align: center;">Welcome!</h1>
<div>
    <p>Use the menu in the top left corner to see data on different colleges within UIUC.</p>
    <h3>Introduction</h3>
    <p>
        The University of Illinois at Urbana-Champaign has one of the most diverse college student bodies in the world. However,
        while some majors have a motley of demographics, other programs are more concentrated. This tool aims to provide information
        on the raw data, context for historical norms and racial norms, and progression of diversity within fields.
        Below, we have overall statistics of every college.

    </p>
    <h3>Overall</h3>
    <p>
        Below, we have overall statistics of every college.
    </p>
</div>