<div class="card">
    <img src="{{ '../../../assets/pictures/' + picture }}" [alt]="picture" class="picture">
    <div class="container">
        <h2><b>{{ name }}</b></h2>
        <a [href]="linkedin" target="_blank" rel="noopner noreferrer">
            <img class="logo" src="{{ '../../../assets/pictures/linkedin.png' }}" alt="linkedin"/>
        </a>
        <a [href]="github" target="_blank" rel="noopner noreferrer">
            <img class="logo" src="{{ '../../../assets/pictures/github.png' }}" alt="github"/>
        </a>
    </div>
</div>