.navbar {
    text-align: center;
    float: none;
}

h2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 700px) {
    h2 {
        display: none;
    }
  }