<nav class="navbar navbar-light navbar-main" style="background-color: #cfcfc4;">
  <app-sidebar></app-sidebar>
  <h3>UIUC Diversity by Major</h3>
  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" [routerLink]="['/']">Home</a>
      <a class="dropdown-item" [routerLink]="['/about']">About</a>
    </div>
  </div>
</nav>