<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

  <div class="button-groups" *ngFor="let college of colleges">
    <!-- <button [routerLink]="['/college']" class="btn-outline-secondary">{{ college.abbreviation }} - {{ college.name }}</button> -->
    <button [routerLink]="['/college', college.abbreviation]" class="btn-block college-button">{{ college.abbreviation }}</button>
  </div>
  <div class="button-groups">
    <button [routerLink]="['/college', 'other']" class="btn-block college-button">Other</button>
  </div>
</div>

<div id="main">
  <button *ngIf="navbarClosed" class="openbutton" (click)="openNav()">&#9776;</button>
</div>