$UIUCOrange: #E84A26;
$UIUCBlue: #123870;
//#13294A;
/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  left: 0;
  background-color: $UIUCBlue;
  color: orange;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 40px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbutton {
  font-size: 20px;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 1rem;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

$skyblue: #328CC1;

.college-button {
  background-color: transparent;
  border: none;
  color: rgba(255,255,255,0.9);
  border-color: none;
  text-align: center;
  text-decoration: none;
  padding: 10px 16px 10px 16px;
  display: inline-block;
  font-size: 16px;
  width: 80%;
  margin-left: 2%;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: solid 2px;
}

.college-button:hover {
  color: $UIUCOrange;
}


